body{
    background-color:#f7f7f7
}
.sideBox{
    border-radius: 5px;
    background-color:#fff;
    margin-bottom:20px;
}
ul{
    list-style: none;
}
.bodyContent{
    padding:50px;
    margin-top:70px;
    margin-bottom:100px;
}
a:hover{
text-decoration: none;
color:black;
}
.sideBox ul{
    padding:10px;
}
.sideBox ul li{
    padding:10px;
    list-style: none;
    border-bottom:1px solid #f1f1f1
}
.sideBox ul li:last-child{
    border-bottom: 0;
}
.sideBox ul li a{
    color:black;
}
.box-Title{
    width:100%;
background-color: #1398d7;
padding:25px;
color:white;
font-size:14px;
}
.title{
    text-transform: capitalize;
    color:black;
    font-size:16px;
}
.newsBox{
    width:100%;
    background-color:white;
    border-radius:10px;
    padding:20px;
    margin-top:20px;
}
.newsBox.newsBoxwithImg{
    padding:0;
    padding:20px 0;
}
.newsBox.newsBoxwithImg .newsHeader{
    padding:0 20px;
}
.newsBox.newsBoxwithImg .newsDetails{
padding:0 20px;
}
.newsBox.newsBoxwithImg  .NewsImg{
    margin:10px 0;
}
.NewsTime i{
color:#1398d7;
}
.newsTitle{
    font-size:18px;
    font-weight: bold;
}
.newsTitle a{
    color:black;
}
.NewsTime ,.newsDate{
    font-size:17px;
}
.newsDetails{
    font-size:14px;
    color:#b8b8b8;
    margin-top:10px;
}
.FNews{
    margin:10px;
    border-bottom: 1px solid #eee;
    padding-bottom:10px;
}
img{
    width:100%;
}
.FeatureNews{
    background-color:white;
    border-radius: 10px;
}
.FNews .newsTitle{
font-size: 15px;
font-weight: 500;
}
.profileImg{
    width:24px;
    height: 24px;
    border-radius: 50%;;
}
.profileImg img{
    border-radius: 50%;
}
header{
    background-color:white;
}
.navbar{
    width:100%;
}
.profileNotification{
    width:50%;
}
.Notification,.profile,.profile .profileImg,.profile h4{
    display: inline-block;
}
.profile h4{
font-size: 14px;
}
.Notification{
    margin-right:10px;
}
.nav-link{
    font-size:16px;
}
.nav-link i{
    font-size:15px;
    margin-right:5px;
}
.addNew{
    margin:80px 0;
    background-color:white;
    padding:30px 100px;
    border-radius: 10px;
}
.addNew.about{
    padding:30px;
}
.newTitle {
    font-size:32px;
    margin-bottom:30px;
}
.form-group{
    width:47%;
    display: inline-block;
    margin-bottom:25px;
  
}.margin-Right{
    
    margin-right:20px;
}
.form-control{
    border-radius: 21px;
    background-color:#f5f6f8;
    height:45px;
}
.form-control:focus{

    background-color: white;
    border:0;
  box-shadow: 0px 10px 25px 0px rgba(58, 64, 91, 0.15);
}

  
.form-group label{
    font-size:14px;;
    color:#c5c9d5;
    margin:0;
    text-transform: capitalize;
    margin:5px 20px;
}
.form-group.full{
    width:100%;
}
textarea{
    resize: none;
  
}
.submitBtn{
    width:100%;
    background-color: #00acee;
    border-radius: 25px;
    color:white !important;
}
.captcha{
    width:80%;
    margin:20px auto;

}
.upload{
border:1px dashed black;
text-align: center;
padding:10px;
border-radius: 25px;
}
footer{
    background-color:white;
    padding:20px 0;
}
.footerList li{
    display: inline-block;
}
.footerList li a{
    color:black;  
    font-size:14px;
}
.fs-upload-target{
    font-size:14px;
}
.footerList li{
    padding:0  12px;
    border-right:1px solid black;
    margin:5px;
}
.footerList li:last-child{
    border-right:0;
}
.copyRight{
    color:#9d9d9d;
    font-size:14px;
}
.parTitle{
    font-size:20px;
    color:black;
}
.parag{
    font-size:14px;
    color:#a3a3a3;
    margin-bottom:30px
}
.relatedNews{
font-size:22px;
color:black;
margin-bottom:20px;
}
.singleNews{
    margin-bottom:50px;
}